PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/silent_alarm?retryWrites=true&w=majority
JWT_SECRET=your_secure_jwt_secret_here
CLIENT_URL=http://localhost:5173
ML_SERVICE_URL=http://127.0.0.1:8001
